<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>atg</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HandLogin</servlet-name>
    <servlet-class>com.ldsh.servlet.HandLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandLogin</servlet-name>
    <url-pattern>/handlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandRegister</servlet-name>
    <servlet-class>com.ldsh.servlet.HandRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandRegister</servlet-name>
    <url-pattern>/handregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandQuit</servlet-name>
    <servlet-class>com.ldsh.servlet.HandQuit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandQuit</servlet-name>
    <url-pattern>/handquit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleAlgorithm</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.SimpleAlgorithm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleAlgorithm</servlet-name>
    <url-pattern>/contest/simple</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortAlgorithm</display-name>
    <servlet-name>SortAlgorithm</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.SortAlgorithm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortAlgorithm</servlet-name>
    <url-pattern>/contest/sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DivideConquer</display-name>
    <servlet-name>DivideConquer</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.DivideConquer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivideConquer</servlet-name>
    <url-pattern>/contest/divide_and_conquer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandForum</display-name>
    <servlet-name>HandForum</servlet-name>
    <servlet-class>com.ldsh.servlet.HandForum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandForum</servlet-name>
    <url-pattern>/forum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandThread</display-name>
    <servlet-name>HandThread</servlet-name>
    <servlet-class>com.ldsh.servlet.HandThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandThread</servlet-name>
    <url-pattern>/thread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandAdminLogin</display-name>
    <servlet-name>HandAdminLogin</servlet-name>
    <servlet-class>com.ldsh.adminservlet.HandAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandAdminLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUsersQuery</display-name>
    <servlet-name>ManageUsersQuery</servlet-name>
    <servlet-class>com.ldsh.adminservlet.ManageUsersQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsersQuery</servlet-name>
    <url-pattern>/manage/queryuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTopicQuery</display-name>
    <servlet-name>ManageTopicQuery</servlet-name>
    <servlet-class>com.ldsh.adminservlet.ManageTopicQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTopicQuery</servlet-name>
    <url-pattern>/mange/querytopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataStructure</display-name>
    <servlet-name>DataStructure</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.DataStructure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataStructure</servlet-name>
    <url-pattern>/contest/data_structure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicPlanning</display-name>
    <servlet-name>DynamicPlanning</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.DynamicPlanning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicPlanning</servlet-name>
    <url-pattern>/contest/dynamic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreedyAlgorithm</display-name>
    <servlet-name>GreedyAlgorithm</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.GreedyAlgorithm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreedyAlgorithm</servlet-name>
    <url-pattern>/contest/greedy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backtracking</display-name>
    <servlet-name>Backtracking</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.Backtracking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backtracking</servlet-name>
    <url-pattern>/contest/backtracking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraphAlgorithms</display-name>
    <servlet-name>GraphAlgorithms</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.GraphAlgorithms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphAlgorithms</servlet-name>
    <url-pattern>/contest/graph</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvancedAlgorithms</display-name>
    <servlet-name>AdvancedAlgorithms</servlet-name>
    <servlet-class>com.ldsh.servlet.contest.AdvancedAlgorithms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedAlgorithms</servlet-name>
    <url-pattern>/contest/advanced</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.ldsh.test.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/inserttest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandQuestion</display-name>
    <servlet-name>HandQuestion</servlet-name>
    <servlet-class>com.ldsh.adminservlet.HandQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandQuestion</servlet-name>
    <url-pattern>/handquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandReply</display-name>
    <servlet-name>HandReply</servlet-name>
    <servlet-class>com.ldsh.servlet.HandReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandReply</servlet-name>
    <url-pattern>/handreply</url-pattern>
  </servlet-mapping>
</web-app>